* {
  box-sizing: border-box;
}

:root {
  --white: #fcfcfc;
  --black: #040404;

  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --purple: #800080;
  --teal: #006060;
  --lightteal: #008080;
  --green: #006400;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}
